@import './reset.css';
@import './common.css';

/*u_skip*/
#u_skip{
    position: relative;
    z-index: 100;
}
#u_skip a{
    position: absolute;
    top: -30px;
    left: 0;
    width: 138px;
    background: #333;
    text-align: center;
}
#u_skip a:active{
    top: 0;
    text-decoration: none;
    z-index: 1000
}
#u_skip a:focus{
    top: 0;
    text-decoration: none;
    z-index: 1000
}
#u_skip span{
    display: inline-block;
    padding: 2px 6px 0 0;
    font-size: 13px;
    line-height: 26px;
    color: #fff;
    letter-spacing: -1px;
    white-space: nowrap;
}


/*header*/
.header .header-inner{
    width: 1130px;
    height: 160px;
    margin: 0 auto;
    position: relative;
}

.header .logo{
    position: absolute;
    top: 50%;
    left: -9px;
    margin-top: -32px;
}
.header .logo a{
    width: 222px;
    height: 52px;
    display: block;
    background-position: 0 -158px;
}

.header .service-area{
    display: flex;
    position: absolute;
    top: 12px;
    right: 0;
}
.header .service-area .link-start{
    font-size: 11px;
    color: #404040;
}

.header .service-area .link-start::after{
    content: '';
    display: inline-block;
    vertical-align: top;
    width: 26px;
    height: 26px;
    margin-top: -3px;
    margin-left: 3px;
    background-position: -382px -213px;
}
.header .service-area .link-junior::before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    margin: 3px 7px;
    background-color: #e4e8eb;
    vertical-align: top;
}
.header .service-area .link-junior:hover::after{
    background-position: -326px -296px;
}

.header .service-area .link-junior::after{
    content: '';
    display: inline-block;
    width: 60px;
    height: 10px;
    background-position: -264px -296px;
    vertical-align: top;
    margin: 3px;
}
.header .service-area .link-bin{
    margin-left: 6px;
}
.header .service-area .link-bin:hover::after{
    background-position: -380px -199px;
}
.header .service-area .link-bin::after{
    content: '';
    display: inline-block;
    width: 34px;
    height: 11px;
    background-position: -365px -245px;
    background-repeat: no-repeat;
    vertical-align: top;
    margin: 3px 3px 2px;
}

.header .search-area{
    position: absolute;
    top: 50%;
    left: 241px;
    margin-top: -28px;
}
.header .search-area .wrap{
    position: relative;
    width: 582px;
    height: 52px;
    border: 2px solid #19ce60;
    border-radius: 2px;
}

.header .search-area .input-text{
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    margin: 1px;
    background-color: #fff;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    font-weight: 700;
    outline: 0;
}
.header .search-area .btn-submit{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 56px;
    background: #19ce60;
    cursor: pointer;
}
.header .search-area .btn-submit::after{
    content: '';
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: top;
    background-position: -420px -24px;
}

.header .search-area .flex-box{
    position: absolute;
    top: 0;
    right: 56px;
    bottom: 0;
    display: flex;
    align-items: center;
}
.header .search-area .flex-box a{
    height: 52px;
    line-height: 52px;
    display: flex;
    align-items: center;
}

.header .search-area .flex-box .btn-key{
    width: 36px;
    justify-content: center;
}
.header .search-area .flex-box .btn-key:hover::before{
    background-position: -376px -267px;
}
.header .search-area .flex-box .btn-key::before{
    content: '';
    display: block;
    width: 20px;
    height: 12px;
    background-position: -398px -267px;
}
.header .search-area .flex-box .btn-more{
    width: 22px;

}
.header .search-area .flex-box .btn-more::before{
    content: '';
    display:block;
    width: 10px;
    height: 5px;
    background-position: -158px -151px;
}

/*gnb*/
.gnb{
    border-top: 1px solid #e4e8eb;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
}
.gnb .gnb-inner{
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gnb .nav-area{
    display: flex;
    align-items: center;
    gap: 12px;
}
.gnb .nav-area .btn-more:hover{
    text-decoration: underline;
}
.gnb .nav-area .btn-more::after{
    content: '';
    display: inline-block;
    width: 11px;
    height: 7px;
    background-position: -402px -296px;
    margin-left: 7px;
    vertical-align: 2px;
}
.gnb .nav-list{
    display: flex;
    gap: 12px;
    color: #000;
    padding: 11px 0;
}
.gnb .nav-list.fix{
    color: #19ce60;
}
.gnb .nav-list .nav-item{
    display: flex;
    align-items: center;
}
.gnb .nav-list .nav-item .nav{
    display: flex;
    align-items: center;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
}
.gnb .nav-list .nav-item .mail::before{
    content: '';
    width: 21px;
    height: 21px;
    background-position: -420px -73px;
    background-repeat: no-repeat;
    margin: 3px 9px 0 0;
}
.gnb .nav-list .nav-item .shop::before{
    content: '';
    width: 24px;
    height: 20px;
    background-position: -76px -386px;
}
.gnb .nav-list .nav-item .shoplive::before{
    content: '';
    width: 54px;
    height: 20px;
    background-position: -209px -267px;
}
.gnb .nav-list .nav-item .tv::before{
    content: '';
    width: 12px;
    height: 14px;
    background-position: -256px -212px;
    margin-right: 2px;
}

.gnb .weather-area .link-weather{
    white-space: nowrap;
    width: 100%;
    max-width: 100%;
    padding: 11px 0;
    display: flex;
    align-items: center;
}
.gnb .weather-area .link-weather:hover .location{
    text-decoration: underline;
}
.gnb .weather-area .location{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding-left: 9px;
    color: grey;
}
.gnb .weather-area .list-weather{
    display: flex;
    align-items: center;
    gap: 20px;
}
.gnb .weather-area .weather-item{
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}
.gnb .weather-area .weather-item:nth-child(n+2)::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
    margin: 0 10px;
}
.gnb .weather-area .weather-item .weather{
    color: #505050;
}
.gnb .weather-area .weather-item .state{
    font-size: 13px;
    font-weight: bold;
    color: #202020;
}
.gnb .weather-area .weather-item .state-good::before{
    content: '';
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
    width: 18px;
    height: 18px;
    margin-right: 6px;
    background-position: -420px -266px;
}

/*footer*/
.footer{
    background-color: #fafbfc;
    border-top: 1px solid #e4e8eb;
}
.footer .footer-inner{
    width: 1130px;
    padding: 0 30px 92px;
    margin: 0 auto;
}

.footer .footer-inner .title{
    margin-right: 13px;
    color: #202020;
    font-weight: bold;
}

.footer .banner-area{
    overflow: hidden;
    padding: 24px 0;
    border-bottom: 1px solid #e4e8eb;
    display: flex;
    gap: 40px;
}
.footer .banner-area .banner-box .box-wrap{
    display: flex;
}
.footer .banner-area .box-wrap:hover .title{
    text-decoration: underline;
}
.footer .banner-area .box-wrap:hover .thumb-box img{
    transform: scale(1.05);
}

.footer .banner-area .thumb-box{
    width: 160px;
    height: 86px;
    overflow: hidden;
}
.footer .banner-area .thumb-box img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform .2s cubic-bezier(.165,.84,.44,1),-webkit-transform .2s cubic-bezier(.165,.84,.44,1);
}
.footer .banner-area .banner-box .text-box{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.footer .banner-area .banner-box .sub-title{
    font-weight: bold;
    display: block;
    overflow: hidden;
    font-weight: 700;
    letter-spacing: -0.25px;
    color: #58c464;
    white-space: nowrap;
}
.footer .banner-area .banner-box .title{
    font-weight: bold;
    display: block;
    margin-top: 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.26px;
    color: #242424;
    white-space: nowrap;
}
.footer .banner-area .banner-box .desc{
    overflow: hidden;
    line-height: 18px;
    letter-spacing: -0.25px;
    color: #424242;
    white-space: nowrap;
    margin-top: 8px;
}

.footer .notice-area{
    overflow: hidden;
    padding: 16px 0 15px;
    border-bottom: 1px solid #e4e8eb;
    display: flex;
    justify-content: space-between;
}
.footer .notice-area a:hover{
    text-decoration: underline;
}
.footer .notice-area .link-all{
    font-weight: 700;
    color: #202020;
}
.footer .notice-area .link-all::after{
    display: inline-block;
    width: 8px;
    height: 12px;
    background-position: -408px -110px;
    background-repeat: no-repeat;
    vertical-align: top;
    content: '';
    margin-left: 10px;
    vertical-align: -2px;
}

.footer .aside-area{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e8eb;
}
.footer .aside-area a:hover{
    text-decoration: underline;
}
.footer .aside-area .partner-box-wrap{
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    gap: 9px;
}
.footer .aside-area .partner-box{
    width: 780px;
    display: flex;
}
.footer .aside-area .partner-box .link-partner{
    color: #777;
}
.footer .aside-area .partner-box .link-partner:last-child::after{
    content: none;
}
.footer .aside-area .partner-box .link-partner::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}

.footer .aside-area .service-box-wrap{
    display: flex;
    align-items: center;
    gap: 50px;
}
.footer .aside-area .service-box{
    display: flex;
    align-items:start;
    gap: 12px;
    max-width: 150px;
}
.footer .aside-area .service-box .text-box{
    display: flex;
    flex-direction: column;
}
.footer .aside-area .service-box .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 0;
}
.footer .aside-area .service-box .desc{
    color: grey;
    padding-top: 2px;
}
.footer .aside-area .service-box .desc:hover{
    text-decoration: underline;
}
.footer .service-box .service-logo{
     max-width: 35%;
}
.footer .service-box .service-logo img{
    object-fit: cover;
    width: 100%;
}

.footer .corp-area{
    padding-top: 25px;
    display: flex;
}
.footer .corp-area a:hover{
    text-decoration: underline;
}
.footer .corp-area .list-corp{
    display: flex;
}
.footer .corp-area .list-corp .corp-item{
    color: #777;
}
.footer .corp-area .list-corp .corp-item strong{
    font-weight: bold;
}
.footer .corp-area .list-corp .corp-item:last-child::after{
    content: none;
}
.footer .corp-area .list-corp .corp-item::after{
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    vertical-align: -1px;
    margin: 0 8px;
}
.footer .corp-area .addr{
    margin-left: 8px;
    font-weight: bold;
    color: #202020;
}

